<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.fas.mapper.InvestRecordDetailMapper">


    <!--
        直接用户投资查询
     -->
    <select id="getDirectInvestRecordDetail" resultType="InvestRecordDetail" parameterType="string">
        <!--SELECT
          tend.prod_limit           investRecordLoanTerm,
          tend.trem_util            investRecordLoanTermType,
          subs.amount               investRecordAmount,
          subs.tx_date              investRecordDateTime,
          subs.inv_phone_v          inv_phone_v,
          subs.inv_real_name        inv_real_name,
          subs.inv_create_date_time inv_create_date_time,
          subs.rec_phone_v          rec_phone_v,
          subs.rec_real_name        rec_real_name,
          subs.rec_create_date_time rec_create_date_time
        FROM (SELECT
                u2.tyId,
                u2.u_i_id,
                u2.phone_v          AS inv_phone_v,
                u2.real_name        AS inv_real_name,
                u2.create_date_time AS inv_create_date_time,
                u3.phone_v          AS rec_phone_v,
                u3.real_name        AS rec_real_name,
                u3.create_date_time AS rec_create_date_time,
                subs1.amount,
                subs1.tx_date,
                subs1.b_t_i_id,
                subs1.inve_c_id
              FROM (SELECT amount,tx_date,b_t_i_id,inve_c_id FROM bus_subs LIMIT 0,100) subs1
                LEFT JOIN (SELECT
                             ifnull(ty_cpsid, ty_id) AS tyId,
                             u_i_id,
                             create_date_time,
                             real_name,
                             phone_v
                           FROM user_info AS u1) AS u2
                  ON u2.u_i_id = subs1.inve_c_id
                LEFT JOIN (SELECT
                             ifnull(ty_cpsid, ty_id) AS tyId,
                             u_i_id,
                             create_date_time,
                             real_name,
                             phone_v
                           FROM user_info AS u1) AS u3
                  ON u2.tyId = u3.u_i_id
              WHERE u3.u_i_id = #{userid}
             ) subs
          LEFT JOIN bus_tend_info tend
            ON tend.b_t_i_id = subs.b_t_i_id
        WHERE subs.tx_date IS NOT NULL
        <if test="startTime != null">
            AND <![CDATA[ subs.tx_date >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            AND <![CDATA[ subs.tx_date <= #{endTime} ]]>
        </if>
        ORDER BY
          subs.rec_create_date_time DESC ,
          subs.inv_create_date_time DESC ,
          subs.tx_date DESC-->


        SELECT
        tend.prod_limit           investRecordLoanTerm,
        tend.trem_util            investRecordLoanTermType,
        subs.amount               investRecordAmount,
        subs.tx_date              investRecordDateTime,
        subs.inv_phone_v          inv_phone_v,
        subs.inv_real_name        inv_real_name,
        subs.inv_create_date_time inv_create_date_time,
        subs.rec_phone_v          rec_phone_v,
        subs.rec_real_name        rec_real_name,
        subs.rec_create_date_time rec_create_date_time
        FROM (SELECT
        u2.u_i_id,
        u2.phone_v          AS inv_phone_v,
        u2.real_name        AS inv_real_name,
        u2.create_date_time AS inv_create_date_time,
        u3.phone_v          AS rec_phone_v,
        u3.real_name        AS rec_real_name,
        u3.create_date_time AS rec_create_date_time,
        subs1.amount,
        subs1.tx_date,
        subs1.b_t_i_id,
        subs1.inve_c_id
        FROM (SELECT
        u_i_id,
        create_date_time,
        real_name,
        phone_v
        FROM user_info
        WHERE u_i_id = #{userid}) u3
        LEFT JOIN (SELECT
        ty_cpsid,
        ty_id,
        u_i_id,
        create_date_time,
        real_name,
        phone_v
        FROM user_info AS u1
        ) AS u2
        ON u2.ty_id = u3.u_i_id OR u2.ty_cpsid = u3.u_i_id
        LEFT JOIN
        (SELECT
        amount,
        tx_date,
        b_t_i_id,
        inve_c_id
        FROM bus_subs
        <where>
            <if test="startTime != null">
                AND <![CDATA[ tx_date >= #{startTime} ]]>
            </if>
            <if test="endTime != null">
                AND <![CDATA[ tx_date <= #{endTime} ]]>
            </if>
            AND (status='01' OR status='04')
        </where>
        ) subs1
        ON u2.u_i_id = subs1.inve_c_id
        ) subs
        LEFT JOIN bus_tend_info tend
        ON tend.b_t_i_id = subs.b_t_i_id
        WHERE subs.tx_date IS NOT NULL
        ORDER BY
        subs.rec_create_date_time DESC,
        subs.inv_create_date_time DESC,
        subs.tx_date DESC
        LIMIT #{rowStart},#{pageSize}
    </select>


    <!--
        间接投资用户查询
    -->
    <select id="getInDirectInvestRecordDetail" resultType="InvestRecordDetail" parameterType="string">
        <!--SELECT
          tend.prod_limit           investRecordLoanTerm,
          tend.trem_util            investRecordLoanTermType,
          subs.amount               investRecordAmount,
          subs.tx_date              investRecordDateTime,
          subs.inv_phone_v          inv_phone_v,
          subs.inv_real_name        inv_real_name,
          subs.inv_create_date_time inv_create_date_time,
          subs.rec_phone_v          rec_phone_v,
          subs.rec_real_name        rec_real_name,
          subs.rec_create_date_time rec_create_date_time
        FROM (SELECT
                u2.tyId,
                u2.u_i_id,
                u2.phone_v          AS inv_phone_v,
                u2.real_name        AS inv_real_name,
                u2.create_date_time AS inv_create_date_time,
                u3.phone_v          AS rec_phone_v,
                u3.real_name        AS rec_real_name,
                u3.create_date_time AS rec_create_date_time,
                subs1.amount,
                subs1.tx_date,
                subs1.b_t_i_id,
                subs1.inve_c_id
              FROM (SELECT amount,tx_date,b_t_i_id,inve_c_id FROM bus_subs LIMIT 0,100) subs1
                LEFT JOIN (SELECT
                             ifnull(ty_cpsid, ty_id) AS tyId,
                             u_i_id,
                             create_date_time,
                             real_name,
                             phone_v
                           FROM user_info AS u1) AS u2
                  ON u2.u_i_id = subs1.inve_c_id
                LEFT JOIN (SELECT
                             ifnull(ty_cpsid, ty_id) AS tyId,
                             u_i_id,
                             create_date_time,
                             real_name,
                             phone_v
                           FROM user_info AS u1) AS u3
                  ON u2.tyId = u3.u_i_id
              WHERE u3.tyId = #{userid}
             ) subs
          LEFT JOIN bus_tend_info tend
            ON tend.b_t_i_id = subs.b_t_i_id
        WHERE subs.tx_date IS NOT NULL
        <if test="startTime != null">
            AND <![CDATA[ subs.tx_date >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            AND <![CDATA[ subs.tx_date <= #{endTime} ]]>
        </if>
        ORDER BY
          subs.rec_create_date_time DESC ,
          subs.inv_create_date_time DESC ,
          subs.tx_date DESC-->

        SELECT
        tend.prod_limit           investRecordLoanTerm,
        tend.trem_util            investRecordLoanTermType,
        subs.amount               investRecordAmount,
        subs.tx_date              investRecordDateTime,
        subs.inv_phone_v          inv_phone_v,
        subs.inv_real_name        inv_real_name,
        subs.inv_create_date_time inv_create_date_time,
        subs.rec_phone_v          rec_phone_v,
        subs.rec_real_name        rec_real_name,
        subs.rec_create_date_time rec_create_date_time
        FROM (SELECT
        u2.u_i_id,
        u2.phone_v          AS inv_phone_v,
        u2.real_name        AS inv_real_name,
        u2.create_date_time AS inv_create_date_time,
        u3.phone_v          AS rec_phone_v,
        u3.real_name        AS rec_real_name,
        u3.create_date_time AS rec_create_date_time,
        subs1.amount,
        subs1.tx_date,
        subs1.b_t_i_id,
        subs1.inve_c_id
        FROM (SELECT
        u_i_id,
        create_date_time,
        real_name,
        phone_v
        FROM user_info
        WHERE ty_id = #{userid} OR ty_cpsid = #{userid}) u3
        LEFT JOIN (SELECT
        ty_cpsid,
        ty_id,
        u_i_id,
        create_date_time,
        real_name,
        phone_v
        FROM user_info AS u1
        ) AS u2
        ON u2.ty_id = u3.u_i_id OR u2.ty_cpsid = u3.u_i_id
        LEFT JOIN
        (SELECT
        amount,
        tx_date,
        b_t_i_id,
        inve_c_id
        FROM bus_subs
        <where>
            <if test="startTime != null">
                AND <![CDATA[ tx_date >= #{startTime} ]]>
            </if>
            <if test="endTime != null">
                AND <![CDATA[ tx_date <= #{endTime} ]]>
            </if>
            AND (status='01' OR status='04')
        </where>
        ) subs1
        ON u2.u_i_id = subs1.inve_c_id
        ) subs
        LEFT JOIN bus_tend_info tend
        ON tend.b_t_i_id = subs.b_t_i_id
        WHERE subs.tx_date IS NOT NULL
        ORDER BY
        subs.rec_create_date_time DESC,
        subs.inv_create_date_time DESC,
        subs.tx_date DESC
        LIMIT #{rowStart},#{pageSize}
    </select>

</mapper>