.container .content {
    /*background-color: aquamarine;*/
    margin: auto;
    width: 80%;
}

.container .content .head {
    width: 100%;
    /*background-color: #f0f0f0;*/
    border: solid 1px #c8c8c8;
    height: 30px;
    text-align: right;
    font-size: 12px;
}

.container .content .head .logout {
    margin-right: 30px;
    margin-top: 5px;
}

.container .content .form {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.container .content .form .form_title {
    margin-bottom: 30px;
}

.container .content .form .qryBtn {
    float: right;
    font-size: 12px;
}

.container .content .form .item {
    margin-top: 15px;
    margin-bottom: 15px;
}


.container .content .table {
    width: 100%;
    /*background-color: #ccc;*/
    border: solid 2px black;
}

table {
    border: solid 1px black;
}

table tr th{
    /*border: solid 0.5px red;*/
    /*border-bottom: solid 1px yellow;*/
}
table td {
    /*border: solid 0.5px green;*/
}

/*

th {
    border: solid 0.5px #666;
    border-bottom: none;
}
*/

table tr td {
    border: solid 0.5px #666;
}
