<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>和云筹-理财顾问登录系统</title>
    <link th:href="@{/images/sm-logo.ico}" rel="shortcut icon" type="image/x-icon"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/webjars/datetimepicker/jquery.datetimepicker.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="head">
            <div class="logout"><a href="#">安全退出</a></div>
        </div>
        <div class="form">
            <div class="form_title"><h4>推广数据查询</h4>
                <hr/>
            </div>
            <div class="item">
                <!--选择时间：<input name="starttime" class="datetimepicker" th:attr="value=${#dates.format(startTime,'yyyy-MM-dd HH:mm')}" /> - <input name="endtime" type="text" class="datetimepicker" th:attr="value=${#dates.format(endTime,'yyyy-MM-dd HH:mm')}" />-->
                选择时间：<input name="starttime" class="datetimepicker" type="text"
                            th:attr="value=${#dates.format(startTime,'yyyy/MM/dd HH:mm')}"/> - <input name="endtime"
                                                                                                      type="text"
                                                                                                      class="datetimepicker"
                                                                                                      th:attr="value=${#dates.format(endTime,'yyyy-MM-dd HH:mm')}"/>
                <span class="qryBtn"><button id="qryBtn" class="btn btn-primary">查询</button></span>
            </div>
            <div class="item">
                选择邀请人级别：
                <input type="radio" name="investorType" id="redirect" value="1"/><label for="redirect">直接投资用户</label>
                <input type="radio" name="investorType" id="noredirect" value="2"/><label
                    for="noredirect">间接投资用户</label>
            </div>
        </div>
        <div class="table">
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!-- <script th:src="@{/webjars/datetimepicker/jquery.js}"></script>-->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/datetimepicker/jquery.datetimepicker.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {

        var $qryBtn = $("#qryBtn");
        $qryBtn.on('click', function () {
            $.ajax({
                url: /*[[@{/auth/table}]]*/ '',
                type: 'post',
                data: {
                    investorType: $("input[name=investorType]:checked").val(),
                    starttime: $("input[name=starttime]").val(),
                    endTime: $("input[name=endtime]").val()
                },
                dataType: 'html',
                success: function (data) {
                    $(".table").html(data);
                },
                error: function () {
                    console.error("err")
                }
            });
        });


        $(".datetimepicker").datetimepicker();
        $.datetimepicker.setLocale({
            lang: "ch",           //语言选择中文
            format: "Y-m-d",      //格式化日期
            timepicker: false,    //关闭时间选项
            yearStart: 2000,     //设置最小年份
            yearEnd: 2050,        //设置最大年份
            todayButton: false    //关闭选择今天按钮
        });

    });
</script>
</body>
</html>