<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<body>
<table>
    <thead>
    <tr>
        <th>序号</th>
        <th>邀请人姓名</th>
        <th>邀请人手机号</th>
        <th>被邀请人注册时间</th>
        <th>被邀请人姓名</th>
        <th>被邀请人手机号</th>
        <th>被邀请人投资时间</th>
        <th>投资金额</th>
        <th>投资标的期限</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="investRecordDetail: ${investRecordDetails}">
        <td>1</td>
        <td th:text="${investRecordDetail.rec_real_name}"></td>
        <td th:text="${investRecordDetail.rec_phone_v}"></td>
        <td th:text="${#dates.format(investRecordDetail.inv_create_date_time, 'yyyy-MM-dd HH:mm')}">N/A</td>
        <td th:text="${investRecordDetail.inv_real_name}"></td>
        <td th:text="${investRecordDetail.inv_phone_v}"></td>
        <td th:text="${#dates.format(investRecordDetail.investRecordDateTime, 'yyyy-MM-dd HH:mm')}">N/A</td>
        <td th:text="${#numbers.formatDecimal(investRecordDetail.investRecordAmount,1,2)}"></td>
        <td th:text="${investRecordDetail.investRecordLoanTerm}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>